<div class="modal broadcastModalTransparent">
  <!-- on-swipe-down="closeModal()" -->

  <ion-scroll zooming="true" direction="xy" style="margin-top: 100px; width: 400px; height: 500px" scrollbar-x="false" scrollbar-y="false">
    <div style="width: 400px; height: 500px; background: url({{imageUrl}}); background-size: 400px 500px; background-repeat: no-repeat;"></div>
  </ion-scroll>
  <button class="button button-default button-full broadcastModalButton" ng-click="closeModal()">Done</button>

</div>
