<ion-view hide-nav-bar="true">
  <div class="content-container">

    <div class="bar bar-header bar-energized">
      <a class="button icon-left ion-chevron-left button-energized" ng-click="backToBroadcastSearch()"></a>
      <h1 class="title">{{data.broadcast.broadcast_name}}</h1>
      <div class="chatSubheader"></div>
    </div>

    <ion-content padding="true" class="has-header">
      <div class="list card">

        <div class="item">
          <h2>{{data.broadcast.broadcast_name}}</h2>
        </div>

        <div class="item item-image">
          <img ng-src="{{data.broadcast.broadcast_photo}}" alt="">
        </div>

        <div class="item item-text-wrap">
          {{data.broadcast.broadcast_description}}
        </div>

        <a class="item item-icon-left energized" ng-click="subscribeToBroadcast(data.broadcast.broadcast_id)">
          <i class="icon ion-social-rss"></i>
          Subscribe
        </a>

      </div>

    </ion-content>
  </div>

</ion-view>
