<ion-view title="BroadcastsPage" hide-nav-bar="true" id="page4">
  <div class="content-container">

    <p ng-if="broadcastTutorial" class="triangle-border broadcastTutorial tutorialBubble">
      <button class="button button-energized ion-android-close tutorialX" ng-click="acceptBroadcastTutorial()"></button>
      This is the Broadcasts page.
      <br>
      <br>
      This is where you will find news, entertainment, education, and information from the horse world! Find new broadcasts by touching the magnifying glass.
      <br>
      <button class="button button-block button-energized" ng-click="acceptBroadcastTutorial()">Cool!</button>
    </p>

    <ion-content padding="true" class="has-header">

      <ion-list>
        <ion-item ng-repeat="broadcast in broadcastData.broadcasts | orderBy:'-unread'" class="item-thumbnail-left" ng-cloak ng-click="goToIndividualBroadcast(broadcast.broadcast_id)">
          <img preload-image height="20px" width="20px" ng-src="{{broadcast.broadcast_photo}}">

          {{message.content}}
          <span class="convoSubject">{{broadcast.broadcast_name}}</span>

          <i ng-if="!broadcast.unread" class="broadcastMessageIcon icon ion-chevron-right"></i>
          <i ng-if="broadcast.unread" class="broadcastMessageIcon newMessageIcon icon ion-record energized"></i>

          <ion-option-button class="button-assertive"ng-click="unsubscribeFromBroadcast(broadcast.broadcast_id)">Unsubscribe</ion-option-button>

        </ion-item>
      </ion-list>

    </ion-content>
  </div>
</ion-view>
