<ion-view title="ChatPage" hide-nav-bar="true" id="ChatPage">
  <div class="content-container">

    <p ng-if="chatTutorial" class="triangle-border tutorialBubble chatTutorial">
      <button class="button button-energized ion-android-close tutorialX" ng-click="acceptChatTutorial()"></button>
      This is the Messages page.
      <br>
      <br>
      Here you can chat one-on-one with friends. To begin a new conversation click the pencil.
      <button class="button button-block button-energized" ng-click="acceptChatTutorial()">Awesome!</button>
    </p>

    <ion-content padding="true" class="has-header">

      <div ng-repeat="convo in chatMessages | orderBy:'-unread' track by $index">
        <ion-item class="item item-avatar" ng-click="goToChatWithUser({{convo}})">
          <img preload-image ng-src="{{convo.convoUser.portrait_link}}" alt="">
          <i ng-if="!convo.unread" class="messageIcon icon ion-chevron-right energized"></i>
          <i ng-if="convo.unread" class="messageIcon newMessageIcon icon ion-record energized"></i>
          <span ng-if="!convo.convoUser.first_name" class="convoSubject">{{convo.convoUser.phone}}</span>
          <span class="convoSubject">{{convo.convoUser.first_name}} {{convo.convoUser.last_name}}</span>
          <div ng-bind-html="convo.messages[convo.messages.length-1].content | messageShortener | emoji">{{convo.messages[convo.messages.length-1].content | messageShortener | emoji}}</div>
        </ion-item>
      </div>

     </ion-content>

  </div>
</ion-view>
