<ion-view title="Welcome" hide-nav-bar="true" id="page2" class="nonTabPagePadding">


  <div class="row">
    <button class="ion-chevron-left button button-energized" ng-click="backToWelcomePage()"></button>
  </div>

  <div class="row confirmationPagePadding">
    <div class="col-offset-10 col-80">
      <h3>Welcome!</h3>
      <p>
        You are about to receive a text with a confirmation code.
      </p>
      <p>
        Please enter the code below:
      </p>
      <br>

      <div class="errors" ng-repeat="error in data.errors">
        {{error}}
        <br>
        <br>
      </div>

    <form ng-submit="confirmPhoneNumber()">
      <label class="item item-input">
        <input type="text" placeholder="Confirmation Number" ng-model="confirmationNumber">
      </label>
    </form>
    <br>

    </div>
  </div>

  <div class="row">
    <button class="col-offset-10 col-80 button button-tangerine" ng-click="confirmPhoneNumber()">Submit</button>
  </div>

</ion-view>
