<ion-view title="GroupsPage" hide-nav-bar="true" id="page3">

  <div class="bar bar-header bar-energized">
    <a class="button icon-left ion-chevron-left button-energized" ng-click="data.backToGroupPage()"></a>
    <h1 class="title">Group Info</h1>
  </div>

  <ion-content class="has-header" on-swipe-right="data.backToGroupPage()">

    <ul class="list">

      <li class="item groupInfoHeader item-text-wrap">

        <h2 class="groupInfoTitle">{{group.group_name}} </h2>
        <a class="groupInfoEditTitle" ng-if="admin" ng-click="editGroupName()" href="">Edit Group Name</a>

        <p class="groupInfoDescription">{{group.description}}</p>
        <a class="groupInfoEditDescription" ng-if="admin" ng-click="editGroupDescription()" href="">Edit Group Description</a>

        <img ng-hide="imgURI !== undefined" ng-src="{{group.group_photo}}" class="groupInfoPic" alt=""> <!--TODO show placeholder and format -->
        <img ng-hide="imgURI === undefined" ng-src="{{imgURI}}" class="groupInfoPic" alt=""> <!--TODO show placeholder and format -->

        <div class="row" ng-if="admin">
          <button class="col-50 button button-tangerine" ng-click="data.takePhoto()">Take New Photo</button>
          <button class="col-50 button button-tangerine" ng-click="data.choosePhoto()">Choose New Photo</button>
        </div>
      </li>

      <li class="item">
        Group Members

        <ion-item ng-repeat="member in groupMembers" class="item item-avatar" ng-click="newPersonalMessage(member)">
          <img ng-src="{{member.portrait_link}}" alt="">
          <h3>{{member.first_name}} {{member.last_name}}</h3>

          <i class="icon ion-close-round removeGroupMember" ng-if="admin && !member.admin" ng-click="removeUserFromGroup(group_id, member.user_id, member.first_name, member.last_name, group.group_name)"></i>

          <i class="icon ion-ribbon-b energized adminBadge" ng-if="member.admin && !member.owner" ng-click="removeUserAdmin(group_id, member.user_id, member.first_name, member.last_name)"></i>

          <i class="icon ion-magnet energized adminBadge rotate-90" ng-if="member.owner"></i>

          <i class="icon ion-ribbon-b makeGroupMemberAdmin" ng-if='!member.admin && admin || !member.admin && member.owner' ng-click="makeUserAdmin(group_id, member.user_id)"></i>

        </ion-item>

      </li>

      <li class="item item-text-wrap">
        Invite New Members
        <br>
        <div class="list invitedList" ng-repeat="member in data.invited" ng-show="data.invited.length > 0">
          <span class="invitedToGroup" ng-click="data.removeInvitation(member)">{{member.name}} | X</span>
        </div>

        <div class="list">
          <label class="item item-input">
            <input type="text" placeholder="Invite People to Join - Name or (xxx) xxx-xxxx" ng-model="data.memberSearch">
          </label>
        </div>

        <ul class="list" ng-show="data.memberSearch.length > 0">
          <div ng-repeat="contact in data.contacts | filter:data.memberSearch | limitTo:5">
            <li ng-repeat="phone in contact.phoneNumbers" class="item animated fadeInUp" ng-click="data.inviteToGroup(contact.name.formatted, phone.value)">
              {{contact.name.formatted}}: {{phone.value}}
            </li>
          </div>
        </ul>

        <button class="button button-block button-tangerine" ng-click="data.sendInvitations()" ng-show="data.invited.length > 0">Send Invitations</button>

      </li>

      <li class="item">
        Email a printable log of all group messages:
        <button class="button button-block button-royal" ng-if="admin" ng-click="emailMessagePrintout()">Email Message Printout</button>
      </li>

      <li class="item">
        <button class="button button-block button-assertive" ng-click="leaveGroup(group.group_name)">Leave Group</button>
        <button class="button button-block button-assertive" ng-if="admin" ng-click="deleteGroup(group_id, group.group_name)">Delete Group</button>
      </li>

    </ul>

  </ion-content>
</ion-view>
