<ion-view title="GroupsPage" hide-nav-bar="true" id="GroupsPage">

  <p ng-if="groupsTutorial" class="triangle-border tutorialBubble groupsTutorial">
    <button class="button button-energized ion-android-close tutorialX" ng-click="acceptGroupsTutorial()"></button>
    This is the Groups page.
    <br>
    <br>
    Search for groups to join by touching the magnifying glass or create your own with the pencil button.
    <br>
    <button class="button button-block button-energized" ng-click="acceptGroupsTutorial()">Neat!</button>
  </p>

  <ion-content padding="true" class="has-header tab-padding">

    <div ng-repeat="group in groupApplications"   ng-hide="groupApplications.noCurrentApplications">
      <ion-list ng-if="group.applications.length > 0">
        {{group.group_name}} requests -
      </ion-list>
      <div ng-repeat="app in group.applications">
        <div class="item item-button-right">
          {{app.first_name}} {{app.last_name}}
          <div class="buttons">
            <button class="button button-outline button-energized" ng-click="acceptGroupApplication(app.user_id, app.group_id)">
              Accept
            </button>

            <button class="button button-outline button-energized" ng-click="declineGroupApplication(app.application_id)">
              Decline
            </button>
          </div>
        </div>
      </div>
    </div>
    <br>

    <span ng-show="groupInvitations.length > 0">
      <ion-list>
        New Group Invitations -
      </ion-list>
      <div ng-repeat="inv in groupInvitations">
        <div class="item item-text-wrap">
          <div class="row groupInvitationsRow">
            <div class="col col-50">
              <a ng-click="viewGroup(inv.group_id)">{{inv.group_name}}</a>
            </div>
            <div class="col col-50 groupInvitationsButtons">
              <button class="button button-outline button-energized" ng-click="acceptGroupInvitation(inv.user_id, inv.group_id)">
                Join
              </button>

              <button class="button button-outline button-energized" ng-click="declineGroupInvitation(inv.invitation_id)">
                Ignore
              </button>

            </div>
          </div>
        </div>
      </div>
      <br>
    </span>

    <ion-list>
      <ion-item ng-repeat="group in groupData.groupObjects | orderBy:'-unread'" class="item item-avatar" ng-click="goToGroupMessage(group.group_id)">
        <img preload-image ng-src="{{group.group_photo_small}}" alt="">

        <i ng-if="!group.unread" class="messageIcon groupMessageIcon icon ion-chevron-right"></i>
        <i ng-if="group.unread" class="messageIcon groupMessageIcon newMessageIcon icon ion-record energized"></i>

        <span class="convoSubject">{{group.group_name}}</span>

        <ion-option-button class="button-assertive" ng-click="leaveGroup(group.group_id)">Leave Group</ion-option-button>

      </ion-item>
    </ion-list>

  </ion-content>

</ion-view>
